<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style>

*	 {border : 1px solid black;}
body { max-width:100%; height :2000px;}
header { height:5%; margin:5px; }
nav { height:3%; margin:5px; }
aside { width: 250px; height:80%; margin:5px; float:left; }
section {width:85.4%; height:80%; margin:5px; float:left;}
footer {width:99.3%; height:10%; margin:5px;clear :both; }
</style>

</head>
<body>

<header></header>
<nav></nav>
<aside></aside>
<section></section>
<footer></footer>

</body>
</html>